<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674330301113-ol0v9sls2n29deo28gm7ar0adv32up6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674330301113-ol0v9sls2n29deo28gm7ar0adv32up6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBlbmnWu9FvKmzbYxGewc6YyImAiFgTJpY</string>
	<key>GCM_SENDER_ID</key>
	<string>674330301113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uber</string>
	<key>PROJECT_ID</key>
	<string>flutter-uber-clone-21fbe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uber-clone-21fbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674330301113:ios:4213fd245d43e760794168</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-uber-clone-21fbe-default-rtdb.firebaseio.com</string>
</dict>
</plist>